#kandE-logo {
    background-image: url(../../assets/svgs/Kirkland-Ellis-Logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 293px;
    height: 25px;
    margin: 20vh 0 3vh 0;
  }